# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# guacamole build files
*.cache
*.o
*.deps
*.libs
*.lo
*.m4

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# project irrelevant ignores
.vscode